a {
  text-decoration: none;
  color: #3a71ca;
}

.t-a-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.contact-tab {
  width: max-content;
  margin: 0 auto;
  background-color: #e4e4e4a1;

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #dee2e6;
  }
  
  .nav-tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  
    .nav-item {
      margin-bottom: -1px;
  
      .nav-link {
        display: block;
        padding: .5rem 1rem;
        border: 1px solid #7777775c;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        color: rgb(37, 37, 37);
        cursor: pointer;
        outline: none;
  
        .tab-letter {
          font-size: 1.4em;
        }
      }
  
      .active {
        border-bottom-color: #eeeeee;
        box-shadow: inset 0px 4px 8px -7px rgba(0, 0, 0, 0.8);
      }
  
      .disabled {
        color: #bebebe;;
        cursor: default;
      }
    }
  }

  .tab-content {
    padding-top: 50px;
    border-left: 1px solid #8080803d;
    border-right: 1px solid #8080803d;
    border-bottom: 1px solid #8080803d;
    padding-bottom: 10px;

    .contact-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      list-style: none;
      padding: 0 40px;
    }

    .contact-item {
      background: none;
      border: none;
      font-size: 1em;
      border-bottom: 1px dashed grey;
      padding: 0 0 7px 8px;
      cursor: pointer;
      outline: none;
      text-align: left;
    }

    .contact-popup {
      z-index: 1;
      position: absolute;
      height: 300px;
      border: 1px solid gray;
      background-color: #fff;
      display: flex;
      padding: 10px 0 10px 10px;
      height: max-content;
      padding-bottom: 50px;
      background-color: #eeeeee;
      box-shadow: 
        0 0 1px 0px black,
        inset 0px -20px 20px -20px rgba(0, 0, 0, 0.8),
        inset 0px 20px 20px -20px rgba(0, 0, 0, 0.8);
      border: none;

      .close-btn {
        height: max-content;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }

      img {
        border-radius: 50%;
        height: 40%;
      }

      .contact-column {
        display: grid;
        grid-template-columns: 100px 1fr;
      }

      .username-strip {
        transform: rotate(90deg);
        width: auto;
        background-color: red;
        height: max-content;
        color: #fff;
        padding: 5px;
        position: absolute;
        right: -50px;
        z-index: 2;
        top: 80px;
      }
    }
  }
}
